.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 70vw;
    max-height: 600px;
    justify-content: space-between;
    gap: 10px; /* This adds space between all children of the container */
}

.title {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    /*border: 1px solid #ddd;
    border-radius: 15px;*/

    background: #007bff;
    color: white;
    line-height: 2.5;
    border-radius: 5px 5px 0 0;
}

.upload-section, .dialogue-history {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.upload-container {
    width: 100%;
    height: 70%;
    max-height: 70%;
    display: flex; /* Use flex layout */
    flex-direction: column;
}

.question-container {
    width: 100%;
    height: 25%;
    max-height: 20%;
}

.button-container{
    width: 100%;
    height: 5%;
}

.question-container textarea {
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;

    border-radius: 10px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s all ease;
    resize: none;
}

.question-container textarea:focus {
    border-color: #007bff;
}

.upload-region {
    border: 1px solid #ccc;
    width: 100%;
    /*flex-grow: 1; /* Grow to fill the remaining space */
}

.upload-area {
    border: 2px dashed #ccc;
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.upload-button {
    border: 1px solid #ccc;
    width: 100%;

    max-width: 100%;
    max-height: 30%;
}

.image-container {
    width: 100%;
    height: 70%;

    max-width: 100%;
    max-height: 70%;
    display: flex;
    flex-grow: 1;  /*Grows to fill available space, but doesn't exceed container*/
    flex-basis: 0; /* Sets the initial size of the child to 0 */
}

.image-area {
    max-width: 100%;
    max-height: 100%;
    flex-grow: 1; /* Grows to fill available space, but doesn't exceed container */
    flex-basis: 0; /* Sets the initial size of the child to 0 */
}

.image-preview {
    max-width: 100%;
    max-height: 100%;
    /*object-fit: contain;*/ /* or cover */
}

.bottom-section {
    display: flex;
    flex: 1;
    gap: 10px; /* This adds space between all children of the container */
}

.upload-section {
    float: left;
    width: 50%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* This adds space between all children of the container */
}

button {
  color: #007bff;
  border: 1px solid #007bff;
}

button:hover {
    background: #007bff;
    color: white;
}

.dialogue-history {
    float: right;
    width: 50%;
    max-height: 500px;
    overflow-y: auto;
}


.box {
    border: 1px solid #efefef;
    padding: 10px 15px;
    min-height: 70%;
}

.box .item {
    display: flex;
    float: left;
    margin: 10px 0;
}

.box .item .icon {
    background: #007bff;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.box .item .msg {
    background: #007bff;
    color: white;
    border-radius: 10px;
    max-width: 80%;
    margin-left: 10px;
}

.box .item .msg p {
    padding: 10px;
    overflow-wrap: break-word;
}

.box .item.right {
    float: right;
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Aligns child to the right */
}

.box .item.right .msg {
    float: right;
    max-width: 80%;
    background: #efefef;
    color: #333;
}

label.password {
  color: #007bff;
}

label.description {
  color: #007bff;
}

input#password {
  border: 1px solid #ddd;
  border-radius: 3px;
}

input#password:focus {
  border-color: #007bff;
  outline: none;
}
